## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [32]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rabat,MA,33.9911,-6.8401,72.05,90,7,4.61,clear sky
1,1,Longyearbyen,SJ,78.2186,15.6401,12.04,73,20,9.22,few clouds
2,2,Nikolskoye,RU,59.7035,30.7861,32.88,78,98,4.29,overcast clouds
3,3,Harrison,US,30.4091,-89.0436,75.27,76,1,8.05,clear sky
4,4,Bluff,NZ,-46.6000,168.3333,50.50,55,77,5.23,broken clouds

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = int(input("Enter minimum temperature "))
max_temp = int(input("Enter maximum temperature "))

Enter minimum temperature 50
Enter maximum temperature 100

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df_tempfilt = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
city_data_df_tempfilt

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rabat,MA,33.9911,-6.8401,72.05,90,7,4.61,clear sky
3,3,Harrison,US,30.4091,-89.0436,75.27,76,1,8.05,clear sky
4,4,Bluff,NZ,-46.6000,168.3333,50.50,55,77,5.23,broken clouds
7,7,Atuona,PF,-9.8000,-139.0333,78.22,76,2,17.69,clear sky
8,8,Kapaa,US,22.0752,-159.3190,82.38,68,20,4.00,few clouds
...,...,...,...,...,...,...,...,...,...,...
694,694,Pszow,PL,50.0399,18.3947,53.94,76,100,14.29,overcast clouds
695,695,Padang,ID,-0.9492,100.3543,73.45,86,97,2.39,light rain
696,696,Barpali,IN,21.2000,83.5833,71.51,88,90,5.61,overcast clouds
697,697,Kerema,PG,-7.9631,145.7785,83.93,74,26,5.77,scattered clouds
699,699,Bubaque,GW,11.2833,-15.8333,83.34,78,57,14.23,broken clouds

In [37]:
# 4a. Determine if there are any empty rows.
city_data_df_tempfilt.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [39]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df_tempfilt.replace()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rabat,MA,72.05,clear sky,33.9911,-6.8401,
3,Harrison,US,75.27,clear sky,30.4091,-89.0436,
4,Bluff,NZ,50.50,broken clouds,-46.6000,168.3333,
7,Atuona,PF,78.22,clear sky,-9.8000,-139.0333,
8,Kapaa,US,82.38,few clouds,22.0752,-159.3190,
9,Ushuaia,AR,53.26,broken clouds,-54.8000,-68.3000,
10,Taoudenni,ML,79.99,scattered clouds,22.6783,-3.9836,
11,Itanhem,BR,73.76,broken clouds,-17.1664,-40.3300,
12,Acapulco,MX,84.02,broken clouds,16.8634,-99.8901,
14,Hithadhoo,MV,83.10,broken clouds,-0.6000,73.0833,

In [50]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    latitude = row["Lat"]
    longitude = row["Lng"]
    params["location"] = f"{latitude},{longitude}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rabat,MA,72.05,clear sky,33.9911,-6.8401,Hôtel Mercure Rabat Sheherazade
3,Harrison,US,75.27,clear sky,30.4091,-89.0436,Residence Inn by Marriott Gulfport-Biloxi Airport
4,Bluff,NZ,50.50,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
7,Atuona,PF,78.22,clear sky,-9.8000,-139.0333,Villa Enata
8,Kapaa,US,82.38,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
694,Pszow,PL,53.94,overcast clouds,50.0399,18.3947,Dworek nad Stawem
695,Padang,ID,73.45,light rain,-0.9492,100.3543,Mercure Padang
696,Barpali,IN,71.51,overcast clouds,21.2000,83.5833,GREEN HOUSE LODGE
697,Kerema,PG,83.93,scattered clouds,-7.9631,145.7785,Frena Lodge
699,Bubaque,GW,83.34,broken clouds,11.2833,-15.8333,"Casa Dora, Bubaque"

In [55]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [63]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))